.places {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	font-size: 30px;
	width: 100%;
	margin-block: 2rem 0;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	display: block;
	border: #FF5A5F 1px solid;
	border-radius: 4px;
	position: relative;
}

.places article h2 {
	font-size: 30px;
	margin-top: 0;
	text-align: center;
}

.places article .price_by_night {
	color: #FF5A5F;
	border: thin solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 30px;
	text-align: center;
	padding: 7px;
	display: grid;
	place-items: center;
}

.places article .information {
	height: 80px;
	border: 1px solid #DDDDDD;
	border-left: 0;
	border-right: 0;
	display: flex;
	justify-content: center;
	padding-block: 7px;
}

.places article .information > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.places article .information .max_guest {
	background: url(../images/icon_group.png) center top no-repeat;
}

.places article .information .number_rooms {
	background: url(../images/icon_bed.png) center top no-repeat;
}

.places article .information .number_bathrooms {
	background: url(../images/icon_bath.png) center top no-repeat;
}

.places article .user {
	margin-top: 1rem;
}

.places article .user h4 {
	display: inline;
}

.places article .description p {
	margin-top: 0.6rem;
}

.places article :is(.amenities, .reviews) {
	margin-top: 40px;
}

.places article :is(.amenities, .reviews) h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	text-align: left;
	padding-bottom: 7px;
}

.places article :is(.amenities, .reviews) ul {
	list-style: none;
	padding: 0;
}

.places article .amenities ul li {
	padding-left: 30px;
	background: left center no-repeat;
	background-size: 20px;
	margin-block: .75rem;
}

.places article .amenities ul li.tv {
	background-image: url(../images/icon_tv.png);
}

.places article .amenities ul li.wifi {
	background-image: url(../images/icon_wifi.png);
}

.places article .amenities ul li.pets {
	background-image: url(../images/icon_pets.png);
}

.places article .reviews ul li {
	margin-block: .75rem;
}

.places article .reviews ul li h3 {
	font-size: 14px;
	margin: 0 0 0.45rem 0;
}

.places article .reviews ul li p {
	font-size: 12px;
	margin: 0;
}