
:root {
	font-family: Circular, "Helvetica Neue", Helvetica, Arial,sans-serif;
}

* {
	box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html {
  position: relative;
}

body {
	font-size: 14px;
	padding-bottom: 70px;
}

.container {
	max-width: 1000px;
	padding-inline: 1rem;
	margin: 30px auto;
}