section.filters {
	height: 70px;
	border: 1px #DDDDDD solid;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	justify-self: end;
	outline: none;
	margin-inline: auto 20px;
}

section.filters button:hover {
	opacity: 0.9;
}

section.filters > div {
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

section.filters > div:nth-child(1) {
	border-right: 1px #DDDDDD solid;
}

section.filters > div :is(h3, h4) {
	margin: 0 auto;
	width: calc(100% - 70px);
}

section.filters > div h3 {
	font-weight: 600;
}

section.filters > div h4 {
	font-weight: 400;
	font-size: 14px;
}

section.filters > div ul.popover {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #FAFAFA;
	border: 1px #DDDDDD solid;
	border-radius: 4px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	gap: .5rem;
	padding: 30px 20px;
	margin: 0;
	z-index: 100;
}

section.filters > div:hover ul.popover {
	display: flex;
}

section.filters > div ul {
	list-style-type: none;
	padding: 0;
}

ul.popover > li h2 {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

ul.popover > li h2::after {
	content: ':';
}

ul.popover > li ul {
	padding-left: 20px;
	margin-top: .34rem;
}